@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}





/* MUSIC PLAYER */

#music-box {
	width: 100%;
	position: absolute;
	top: 20px;
	height: auto;
}

#cover-img {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px 40px 0 0;

}


/* BACKGROUND BLUR for ALBUM INFO*/


#cover-blur {
	background-image: url("img/playlist-bckgrd.jpg");
	background-repeat: no-repeat;
	position: relative;
	bottom: 310px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	height: 308px;
	overflow: hidden;
	opacity: .3;
	border-radius: 40px 40px 0px 0px;
}


#blur-box {
	background-image: url("img/playlist-bckgrd.jpg");
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	filter: blur(2px);
	overflow: hidden;
	width: 350px;
	height: 308px;
	position: absolute;
	bottom: 0px;
	border-top: 2px solid white;
	border-right: 2px solid white;
	border-left: 2px solid white;
	border-radius: 40px 40px 0 0;

}

#blur-box::after {
	content: '';
	position: absolute;
	top: 0px;
	display: block;
	opacity: 1;
	border-top: 5px solid white;
	border-right: 5px solid white;
	border-left: 5px solid white;
	width: 338px;
	height: 300px;
	filter: blur(1px);
	border-radius: 40px 40px 0 0;

}

/* BLUR END */




/* ALBUM INFO */


	/* TEXT INFO */

#album-info {
	z-index: 1;
	position: absolute;
	top: 250px;
	width: 100%;
	height: auto;
	text-align: center;
	color: #FFFFFF;
	font-family: Lato, sans-serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#album-info span {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#album-title {
	position: relative;
	top: 0;
	left: 0;
	font-size: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#song-title {
	position: relative;
	top: 0;
	left: 0;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
}

	/* TEXT INFO END */


	/* TIME DISPLAY */



#time-box-blur {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.41);
	width: 150px;
	height: 80px;
	border-radius: 10px 10px 10px 10px;
	border: 2px solid #2F2366;
	position: relative;
	bottom: 420px;
}



#song-current-time {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  	width: 100px;
 	font-size: 25px;
  	color: #222366;
  	opacity: 1;
    font-family: lato, sans-serif;
	margin-top: 25px;

}



	/* TIME DISPLAY END */

/* ALBUM INFO END */

/* SEEK BAR */

#seek-bar-container {
	position: absolute;
	top: 490px;
	left: 0;
	width: 100%;
}

#seek-bar-box {
	position: relative;
	top: 3px;
	left: 0px;
	width: 370px;
	height: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(rgba(45,60,145,1.00) 0%, rgba(43,33,93,1.00) 100%);
	border-top: 2px solid #000000;
}

#song-buffer {
	position: relative;
	bottom: 18px;
	left: 5px;
	width: 100%;
	height: 12px;
	background: #0089ff;
	opacity: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	z-index: -1;
}

#seek-bar {
	width: 370px;
	height: 10px;
	position: absolute;
	top: 12px;
	left: 0px;
	background: url('img/playlist-bckgrd.jpg') no-repeat;
	box-shadow: inset 1px 1px 1px 1px rgba(0,92,151,1.00), 1px 1px 1px 1px rgba(1,127,208, 1.00);
	overflow: visible;
	border-radius: 50px 0 0 50px;
}

#actualProgress{
	position: absolute;
	height: 42px;
	background-color: #0089ff;
	width: 0px;
}

#knot {
	position: relative;
	z-index: 1000;
	bottom: 5px;
	left: 2px;
	width: 10px;
	height: 10px;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: 1px solid #005C97;
	box-shadow: 1px 2px 5px 0px #2B80FF;
	box-sizing: border-box;
	background: radial-gradient(circle, rgba(0,120,180,1) 30%, rgba(48,0,122,1) 100%);

}

/* SEEK BAR END */

/* PLAYER CONTROLS */

#player-controls {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	height: 80px;
	position: relative;
	bottom: 360px;
	right: 0px;
	background: linear-gradient(rgba(43,51,132,1.00) 0%, rgba(22,26,82,1.00) 100%);
	border-top: 2px solid #000000;
}

#previous {
	position: relative;
	top: 10px;
	left: 65px;
	width: 55px;
	height: auto;
	filter: drop-shadow(-1px 2px 2px #0078FF);
}

#play{
	position: relative;
	top: 15px;
	left: 108px;
	width: 45px;
	height: auto;
	filter: drop-shadow(-1px 2px 2px #0078FF);
	transition: 0.1s ease-in-out;
	display: inline-block;
}

#play:hover {
	filter: drop-shadow(-2px 2px 5px #00AAFF);
}

/*#pause {*/
	/*position: relative;*/
	/*top: 15px;*/
	/*left: 108px;*/
	/*width: 45px;*/
	/*height: auto;*/
	/*filter: drop-shadow(-1px 2px 2px #0078FF);*/
	/*transition: 0.1s ease-in-out;*/
	/*display: none;*/
/*}*/

/*#pause:hover {*/
	/*filter: drop-shadow(-2px 2px 5px #00AAFF);*/
/*}*/


#forward {
	position: relative;
	top: 10px;
	left: 144px;
	width: 55px;
	height: auto;
	filter: drop-shadow(-1px 2px 2px #0078FF);
}

/* VOLUME CONTROLS */

#volume-control {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	height: 60px;
	position: relative;
	bottom: 360px;
	left: 0px;
	background: linear-gradient(rgba(39,46,123,1.00) 0%, rgba(19,12,56,1.00) 100%);
	border-top: 2px solid #000000;
	border-radius: 0 0 40px 40px;
}

#mutebtn {
	display: block;
	width: 40px;
	height: 40px;
	filter: drop-shadow(1px 2px 1.5px #0078FF);
	position: relative;
	top: 0px;
	left: 25px;
}


#slider-box {
	width: 100%;
	height: auto;
	position: relative;
	top: 10px;
}

#volumeSlider{
	border-width: 1px;
  	border-style: solid;
  	border-color: #333 #333 #777 #333;
  	border-radius: 25px;
  	position: absolute;
	top: 10px;
	left: 95px;
	width: 65%;
  	height: 10px;
  	background: url('img/playlist-bckgrd.jpg') no-repeat;
	background-size: cover;
	background-position: bottom;
  	box-shadow: inset 0 1px 5px 0px rgba(72,128,248,0.93), 0 1px 0 0px rgba(4,134,255,1.00);
}
/* VOLUME CONTROL END */

input[type=range]{
	-webkit-appearance : none !important;
	background-color: #0089ff;
	height: 4px;
	border-radius: 4px;
	outline: none;
}

input[type=range]::-webkit-slider-thumb{
	-webkit-appearance : none !important;
	background-color: #0089ff;
	height: 15px;
	width: 15px;
	border-radius: 15px;
	cursor: pointer;
}

/* PLAYLIST */

#music {
	position: absolute;
	top: 720px;
}


/* MUSIC PLAYER END */
